@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
  --white-color: #fff8e9;
  --black-color: #000000;
  --green-color: #729d63;
  --green-dark-color: #59784e;
  --orange-color: #f8ad3c;

  --body-font: "Poppins", sans-serif;
  --title-font: "Protest Riot", sans-serif;
  --logo-font: "lobster", cursive;
}
body{
  font-family: var(--body-font);
  color: var(--white-color);
}
header h1{
    font-family: var(--logo-font);
}
h2{
  padding-bottom: 32px;
}
.section__team{
  height: 100vh;
  background-color: var(--green-color);
}
.section__contact{
  background-color: var(--green-color);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.section__container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form__container{ /*Need to fix size and position*/
  height: 50vh;
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  padding: 8px;
}
.form{ /*Do we keep labels ???? fix button placement , add instead of "Envoyer" ???*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.select__container{
  margin-bottom: 10px;
}
.ui__select_default{
    outline: none;
    background: transparent;
    border: none;
    font-family: inherit;
    line-height: inherit;
    font-size: inherit;
}
.ui__select{
  background-color: #f8ad3c;
  color: var(--white-color);
  border: 1px solid #59784e;
  padding: 5px;
  border-radius: 5px; 
  width: 150px; 
}
.ui__select option{
  background-color: #f8ad3c;
  color: var(--white-color);
}
.form__input {
  background-color: var(--orange-color);
  color: var(--white-color); 
  border: 1px solid #59784e;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 10px;
}
.email__input{
  width: 500px;
  padding: 5px;
}
.message__input{/*Fix position*/
  width: 500px;
  height: 100px;
}
.gallery{
  margin-top: 32px;
  display: flex;
}
.img__wrap{
  width: 350px;
  height: 250px;
  margin: 8px;
}
.img__wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
