@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
  --white-color: #fff8e9;
  --black-color: #000000;
  --green-color: #729d63;
  --green-dark-color: #59784e;
  --orange-color: #f8ad3c;

  --body-font: "Poppins", sans-serif;
  --title-font: "Protest Riot", sans-serif;
  --logo-font: "lobster", cursive;
}

body{
  font-family: var(--body-font);
  color: var(--white-color);
}

header h1{
    font-family: var(--logo-font);
}

.section__team {
  height: 100vh;
  background-color: var(--green-color);
}
.section__contact {
  background-color: var(--green-color);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.section__order{
  background-color: var(--green-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__past-order{
  background-color: var(--green-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.section__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form {
  background-color: var(--white-color);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid var(--black-color);
  box-shadow: var(--white-color) 4px 4px 0 0, var(--black-color) 4px 4px 0 1px;
  flex-direction: column;
  align-items: flex-start;
}

.select__container {
  margin-bottom: 10px;
}

.ui__select_default {
  outline: none;
  background: transparent;
  border: none;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

.ui__select {
  color: var(--black-color);
  border: 1px solid #59784e;
  padding: 5px;
  width: 150px;
}

.ui__select option {
  color: var(--black-color);
}

.form__input {
  background-color: transparent;
  color: var(--black-color);
  border: 1px solid #59784e;
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
}

.email__input {
  width: 500px;
  padding: 5px;
}

.message__input {
  width: 500px;
  height: 100px;
}

.team__gallery {
  margin-top: 32px;
  display: flex;
}

.team__img {
  width: 350px;
  height: 250px;
  margin: 8px;
}

.team__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__profil{
  background-color: var(--green-color);
  height: 100vh;
}

.form__profil_container{
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

.email__input_profil {
  width: 415px;
}
.order__container{
  background-color: var(--white-color);
  color: var(--black-color);
  width: 80%;
  align-self: center;
}
.order__card{
  display: flex;
  flex-direction: column;
}
.order__card-item{
  display: flex;
  align-items: center;
}