.section__order {
  background-color: var(--green-color);
}

.section__past-order {
  background-color: var(--green-color);
}

.order__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.order__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  box-shadow: var(--white-color) 4px 4px 0 0, var(--black-color) 4px 4px 0 1px;
  padding: 1rem;
}
